/* Stats */
.stats {
  margin-top: 40px;
  display: flex;
  gap: 40px;
}

.stats h3 {
  font-size: 28px;
  color: #ffd700;
}

.stats p {
  font-size: 14px;
  color: #ddd;
}

/* Form */
.banner-form {
  flex: 1;

  background: #fff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  color: #333;
}

.banner-form h2 {
  font-size: 22px;
  color: #800000;
}

.banner-form p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #555;
}

.banner-form form {
  display: flex;
  flex-direction: row; /* Change from column to row */
  align-items: center;
  gap: 10px; /* space between inputs */
  flex-wrap: wrap; /* allow wrapping on small screens */
}

.banner-form input,
.banner-form select {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.banner-form button {
  padding: 14px;
  background: #800000;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}
.filter-btn {
  width: 400px;
  margin-bottom: 15px;
}

.banner-form button:hover {
  background: #660000;
}

.terms {
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
  color: #777;
}

.terms a {
  color: #800000;
  text-decoration: underline;
}

/* Responsive */
@media (max-width: 768px) {
  .banner-container {
    flex-direction: column;
    text-align: center;
  }

  .stats {
    justify-content: center;
  }
}

/* component */

.testimonials {
  padding: 2rem 1.5rem;
  background-color: #f9fafb; /* light gray */
  text-align: center;
}

.testimonials-title {
  font-size: 40px;
  font-weight: bold;
  color: #800000; /* maroon */
  margin-bottom: 2.5rem;
  font-family: "Georgia", serif;
}

.testimonials-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.testimonial-card {
  background: #fff;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  /* transition: box-shadow 0.3s ease; */
}

.testimonial-card:hover {
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.15);
}

.testimonial-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: auto;
  border: 4px solid #ffd700; /* golden border */
  object-fit: cover;
}

.testimonial-name {
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: #800000; /* maroon */
}

.testimonial-message {
  margin-top: 0.5rem;
  font-style: italic;
  color: #555;
}

.indicator-btn {
  font-size: 0.5em !important;
}
